@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  background-color: #fff;
  margin: 20px;
  position: relative;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.firstblock {
  padding: 20px;
}

.header {
  font-family: Poppins;
  font-size: 22px;
  font-weight: Semibold;
  color: #54bab9;
  margin-bottom: 20px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  position: absolute;
  inset: 75px;
  color: #54bab9;
  margin-left: 140px;
  margin-top: 10px;
}

.select {
  margin-top: 10px;
}

.p {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: regular;
  color: #000000;
}

.image {
  margin-right: 15px;
}