.modal {
  width: 120px;
  height: 70px;
  position: absolute;
  background-color: rgb(241, 237, 237);
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pencil,
.delete {
  margin-left: 10px;
  margin-right: 10px;
}

.pencil {
  color: #54bab9;
}

.delete {
  color: red;
}

.button {
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  font-style: Poppins;
  font-size: 14px;
  font-weight: regular;
  color: #000000;
}

.button:hover{
  background-color: rgb(249, 244, 244);
}

.hr {
  margin-top: 5px;
}